[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rater"]
	path = rater
	url = https://github.com/jeffreypullin/rater
	shallow = true
	registered = true
	oncran = true
